.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #555555;
    opacity: 0.8;
}
.popupForm{
    position: fixed;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 300px;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
}
.popupForm input{
    width: 66%;
    margin: 20px 0 12px;
    border: 0;
    border-bottom: 1px solid #252356;
    font-family: Yeon Sung;
}
.popupForm button{
    border: 0;
    background: none;
    font-size: 24px;
    color: #ffba74;
}
.rewite > svg{
    margin: 0 14px;
    color: #e1c3c7;
    font-size: 18px;
}