.todolist{
    width: 72%;
    margin: 10px auto 0;
    list-style:none;
    padding-left:0px;
    text-align: left;
}
.todolist li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0 0;
    padding: 5px 6px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
}
.todolist li button{
    border: 0;
    background: none;
    color: #ace0de;
    font-size: 12px;
    cursor: pointer;
}
.todolist li span.line{
    text-decoration: line-through;
}